.settings { 
  max-width: 800px; 
  width: 100%; 
  border-radius: 10px;
  padding: 10px;
}

.simulation {

}

.row { 
  width: 100%;
  letter-spacing: -0.31em;
}
.col1, .col2{ 
  display: inline-block;
  vertical-align: top;
  text-align: center; 
  background: white;
  padding: 5px;
  margin: auto;
  letter-spacing: normal;
}
.col1 {
  width: 45%;
}
.col2 {
  width: 45%;
}


.button {
  margin: 10px;
  padding: 12px 12px;
  
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: #FFFFFF;
  background: #333030;
  border: 0 none;
  border-radius: 4px;
  width: 120px;
}

.label {
    font: 14px sans-serif; 
}

.axis {
    font: 14px sans-serif; 
    font-weight: bold; 
}

.tick{
    font: 14px sans-serif; 
}

.svg_box {
    border: 1px solid black; 
}

body {
    background-color:  white
}
